---
interface Props {
	size?: string;
	dot?: boolean;
	href?: string;
	label?: string;
}
const { dot, href, label }: Props = Astro.props;
---
<a href={href} aria-label={label} class="btn-regular h-8 text-sm px-3 rounded-lg hover:bg-[var(--btn-regular-bg-hover)] dark:hover:bg-[var(--btn-regular-bg-hover)] transition-colors bg-[var(--btn-regular-bg)] dark:bg-[var(--btn-regular-bg)] text-[var(--btn-content)] dark:text-white/90 font-medium border border-transparent dark:border-white/10">
    {dot && <div class="h-1 w-1 bg-[var(--btn-content)] dark:bg-white/75 transition rounded-md mr-2"></div>}
    <slot></slot>
</a>
